{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    <div class="container">
        {% if actif %}
            <div class="row">
                <div class="col-12">
                    Activation réussie !
                </div>
                <div class="col-12">
                    <a class="btn btn-success" href="{{ path('security_login') }}">Connexion</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12">
                    Le lien d'activation n'est pas valide...
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
