{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <header>
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('security_register') }}">S'inscrire</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{{ path('security_login') }}">Se connecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <h1>Bienvenue sur la page d'accueil !</h1>
    </div>
{% endblock %}
