{% extends 'base.html.twig' %}

{% block title %}New task!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle tâche</h1>
        {{ form(form) }}
    </div>
{% endblock %}
