#profile-picture {
    img {
        width: 40px;
        height: auto;
    }
}

.blockLink {
    text-decoration: none;
}

.itemList {
    list-style: none;
    padding-left: 0;
    display: flex;

    li + li {
        display: inline-block;
        margin-left: 10px;
    }
}

// .actionList {
// }

.tagColor {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

.tagList {
    .tag {
        flex: 0 0;
        font-size: 0.8em;
        padding: 0 16px;
        border-radius: 8px;
    }
}
