{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion des tags</h1>
        <a class="btn btn-sm btn-success" href="{{ path('tag_new') }}">Ajouter un tag</a>
        {% if tags|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>
                                {{ tag.name }}
                            </td>
                            <td>
                                {{ tag.description }}
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ path('task_edit', {id: tag.id}) }}">Voir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun tag...</p>
        {% endif %}
        </div>
    </div>
{% endblock %}
