{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <div class="container">
        {% if app.request.get('_route') == 'project_new' %}
            <h1>Créer un projet</h1>
        {% else %}
            <h1>Modifier un projet</h1>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}
