{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <div class="container">
        {% if app.request.get('_route') == 'project_new' %}
            <h1>Créer un projet</h1>
        {% else %}
            <h1>Modifier un projet</h1>
        {% endif %}
        <div class="form-group row"
             data-controller="autocomplete"
             data-fetch-url="{{ path('project_api_search_user', {id: project.id}) }}"
             data-select-id="project_users">
            <label class="col-form-label col-sm-2" for="invite-user">Ajouter des utilisateurs</label>
            <div class="col-sm-10">
                <input class="form-control"
                       type="text"
                       autocomplete="off"
                       data-action="autocomplete#input"
                       data-autocomplete-target="input">
                <div class="autocompleteContainer">
                    <div class="suggestions">
                        <ul data-autocomplete-target="suggestions"
                            data-action="click->autocomplete#selectElement">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{ form(form) }}
    </div>
    <template id="autocompletion-tpl">
    </template>
{% endblock %}
