{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>
        <div class="projectActions">
            <ul>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
